@charset "UTF-8";

//global css---------------------------------------------------
$minWidth: 1200px;                            //numbers or none
$maxWidth: 1200px;                            //numbers or none
$minHeight: 500px;                            //numbers or none
$red: 71;
$green: 187;
$blue: 91;


//body css set-------------------------------------------------
$normalColor: #494949;
$subColor: #8f8f8f;
$inputHolderColor: #d9d9d9;
$borderColor: #e4e4e4;
$subBorderColor: #efefef;
$shadowColor: rgba(210, 210, 210, 0.54);
$activeColor: rgb($red,$green,$blue);
$bodyBgColor: #fff;
$scrollBarColor: rgba(0, 0, 0, 0.4);

$normalFontSize: 12px;
$normalIconFontSize: 24px;
$normalLineHeight: 1;
$scrollBarSize: 6;