html, body,
div, section, table, form, ul, ol, li,
p, h1, h2, h3, h4, h5, h6,
thead, tbody, tr, th, td,
input, button,
img, span, a, label,
legend, fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  font-weight: normal;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }

ol, ul, li {
  list-style: none; }

a,
a:link,
a:visited,
a:hover,
a:active,
input {
  outline: 0;
  text-decoration: none; }

input {
  user-select: inherit;
  -webkit-appearance: none; }
  input:read-only {
    ime-mode: disabled; }

textarea {
  resize: none; }

html, body {
  width: 100%;
  height: 100%; }

:focus,
:active {
  outline: 0; }

.animated {
  animation-duration: 0.3s; }

.fl {
  float: left; }

.fr {
  float: right; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.flex-container {
  display: flex;
  flex-direction: row; }
  .flex-container > .flex-item {
    flex-shrink: 0; }
  .flex-container > .sub-item {
    flex-grow: 1;
    width: 1%; }
    .flex-container > .sub-item2 {
      flex-grow: 2;
      width: 1%; }
    .flex-container > .sub-item3 {
      flex-grow: 3;
      width: 1%; }
    .flex-container > .sub-item4 {
      flex-grow: 4;
      width: 1%; }

.flex-column-container {
  display: flex;
  flex-direction: column; }
  .flex-column-container > .flex-item {
    flex-shrink: 0; }
  .flex-column-container > .sub-item {
    flex-grow: 1;
    width: 100%;
    height: 1%; }
    .flex-column-container > .sub-item2 {
      flex-grow: 2;
      width: 100%;
      height: 1%; }
    .flex-column-container > .sub-item3 {
      flex-grow: 3;
      width: 100%;
      height: 1%; }
    .flex-column-container > .sub-item4 {
      flex-grow: 4;
      width: 100%;
      height: 1%; }

.flex-a-center {
  align-items: center; }

.flex-j-center {
  justify-content: center; }

.flex-center {
  align-items: center;
  justify-content: center;
  align-content: center; }

.flex-a-end {
  align-items: flex-end; }

.flex-j-end {
  justify-content: flex-end; }

.mask {
  opacity: 0.5;
  background: #000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 999;
  display: none; }

.mask-transparent {
  opacity: 0;
  background: #000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 999;
  display: none; }
