<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../templates/head_src', {title: "扶뒬못-m", prefixPath: "", cssName: "index"}) %>
</head>
<body>
   扶뒬못
</body>

<script>
	require(['jquery','common'], function ($,com){

	});
</script>
</html>